BOT_TOKEN=7753664149:AAEs2BFLXZzDp0CQj_XsjxjEIixmzhXi-r4
NODE_ENV=production
DATABASE_URL=postgresql://shawarma_user:shawarma_pass@localhost:5432/shawarma_db
REDIS_URL=redis://localhost:6379
NOTIFICATIONS_CHAT_ID=-1002689599286
ADMIN_USER_IDS=121270837,1087968824

DEPLOY_SERVER_HOST=5ee5d87f4ecb.vps.myjino.ru
DEPLOY_SERVER_PORT=49337
DEPLOY_SERVER_USER=root
DEPLOY_SERVER_PATH=~/shawarma-bot
